
.whole{
    background-image: url(./ZOMATO-BACK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 0;
    padding: 0;
}
#login-account{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    margin-top: 0;
    color: white;
}
#log-in{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}
#account{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid white;
}
#log-in:hover{
    background-color: black;
}
#account:hover{
    background-color: black;
}
#logo{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    margin-top: 5%;
}
#logo-img{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
}
#text{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    font-size: 30px;
    color: white;
   justify-content: center;
    
}
#middle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
   
}
#container1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 230px;
    height: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  
    margin-top: 20px;
}
.los-angeles{
    margin-right: 40px;
   
}
#container2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}
.name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    height: 30px;
    width: 300px;
    padding: 10px 10px 10px 45px;
    border-radius: 5px;
    border: 1px solid white;
}
#search-icon{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:35px;
    left: 20px;
    padding-left: 10px;
}
 #container3{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }
.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
    border: transparent;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5px;
}
.search:hover{
    background-color: tomato;
}
#collections{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-top: 10px;
    width: 100%;
}
#para{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 10px;
    width: 100%;
}
#whole2{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
#grid-images{
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows:auto auto ;
    gap: 5px;
    background-color: white;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: white;
    text-align: center;
}
.box1{
    display: grid;
    grid-column:1/2;
}
.text1{
    display: grid;
    grid-column: 2/4;
}
.grid2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: white;
    text-align: center;
}
.box2{
    display: grid;
    grid-column: 1/2;
}
.text2{
    display: grid;
    grid-template-columns: 2/4;
}
.grid3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    /* border: 1px solid navy; */
    background-color: white;
    text-align: center;
}
.box3{
    display: grid;
    grid-column: 1/2;
}
.text3{
    display: grid;
    grid-column: 2/4;
}
.grid4{
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-template-rows: auto;
    background-color: white;
    text-align: center;
}
.box4{
    display: grid;
    grid-column: 1/2;
}
.text4{
    display: grid;
    grid-column: 2/4;
}
.grid5{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: white;
    text-align: start;
    /* height: 100px; */
}
.box5{
    display: grid;
    grid-column: 1/2;
}
.text5{
    display: grid;
    grid-column: 2/4;
}
.grid6{
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.grid6>.box6{
    grid-column: 2/4;
    grid-row: 1;
}
.grid6>.text6{
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
    /* margin-top: 60px; */
}
.img1,.img2,.img3,.img4,.img5,.img6{
    height: 150px;
    width: 200px;
}
@media screen and (max-width: 480px){
    .whole{
        background-image: url(./ZOMATO-BACK.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width:480px;
    }
    #login-account{
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
        color: white;
    }

    #log-in{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    #account{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
        padding: 20px;
        border: 2px solid white;
    }
    #log-in:hover{
        background-color: black;
    }
    #account:hover{
        background-color: black;
    }
    #logo{
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
        margin-top: 5%;
    }
    #logo-img{
        display: flex;
        flex-wrap: wrap;
        height: 130px;
        width: 130px;
    }
    #text{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2%;
        font-size: 20px;
        color: white;
       justify-content: center;
        
    }
    #middle{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; 
       
    }
    #container1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 230px;
        height: 50px;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      
        margin-top: 20px;
    }
    .los-angeles{
        margin-right: 40px;
       
    }
    #container2{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
    }
    .name{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        height: 30px;
        width: 300px;
        padding: 10px 10px 10px 45px;
        border-radius: 5px;
        border: 1px solid white;
    }
    #search-icon{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top:35px;
        left: 20px;
        padding-left: 10px;
    }
     #container3{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
     }
    .search{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        background-color: red;
        color: white;
        border: transparent;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 5px;
    }
    .search:hover{
        background-color: tomato;
    }
    #collections{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        margin-top: 0px;
        width: 100%;
    }
    #para{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 10px;
        background-color: white;
        margin-top: 0px;
        width: 100%;
    }
#grid-images{
    display: grid;
    grid-template-columns: auto ;
    grid-auto-rows:auto auto auto auto auto auto;
    gap: 10px;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    border: 1px solid black;
    border-radius:5px;
}
.box1{
    display: grid;
    grid-row: 1;
    grid-column:1/4;
}
.box1>img{
    height: 300px;
    width: 470px;
    
}
.text1{
    display: grid;
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
    margin-bottom: 10px;
}
.grid2{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius:5px ;
}
.box2{
    display: grid;
    grid-row: 1;
    grid-column: 1/4;
}
.box2>img{
    height: 300px;
    width: 100%;
}
.text2{
    display: grid;
    grid-row:2 ;
    text-align:center;
    margin-bottom: 10px;
    grid-column: 1/4;
}
.grid3{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius:5px ;
}
.box3{
    display: grid;
    grid-row: 1;
    grid-column: 1/4;
}
.box3>img{
    height: 300px;
    width: 100%;
}
.text3{
    display: grid;
    grid-row: 2;
    text-align: center;
    margin-bottom: 10px;
    grid-column: 1/4;
}
.grid4{
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius:5px ;
}
.box4{
    display: grid;
    grid-row: 1;
    grid-column: 1/4;
}
.box4>img{
    height: 300px;
    width: 100%;
}
.text4{
    display: grid;
    grid-row: 2;
    text-align: center;
    margin-bottom: 10px;
    grid-column: 1/4;
}
.grid5{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius:5px ;
    /* height: 100px; */
}
.box5{
    display: grid;
    grid-row: 1;
    grid-column: 1/4;
}
.box5>img{
    height: 300px;
    width: 100%;
}
.text5{
    display: grid;
    grid-row: 2;
    text-align: center;
    margin-bottom: 10px;
    grid-column: 1/4;
}
.grid6{
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: white;
    grid-template-columns:  auto auto;
    border: 1px solid black;
    border-radius:5px ;
}
}